form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100vw;
}

form input {
  width: 30rem;
  padding: 1rem;
  margin: 1rem;
  border-radius: 15px 15px 15px 0px;
}

form select {
  width: 30rem;
  padding: 1rem;
  margin: 1rem;
  border-radius: 15px 15px 15px 0px;
}

form textarea {
  width: 30rem;
  margin: 1rem;
  border-radius: 15px 15px 15px 0px;
}

button {
  margin-bottom: 2rem;
}

@media (min-width: 1440px) {
  form {
    display: flex;
    flex-direction: column;
  }
}
