.header {
  width: 100vw;
  background-color: white;
  height: 60px;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  color: black;
}

.header ul {
  display: flex;
}

.header li {
  font-family: Fredoka;
  list-style: none;
  padding: 0 1rem;
}

.header-desktop {
  display: unset;
}

.burger {
  display: none;
}

@media (max-width: 700px) {
  .burger {
    display: unset;
  }

  .header-desktop {
    display: none;
  }
}
