.startPageContainer {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 0rem 4rem;
  align-items: center;
}

.startPageContainer p {
  margin: 0;
  font-weight: 200;
  font-family: Fredoka;
}

.startPageContainer button {
  margin: 1rem 0;
  font-family: Fredoka;
}

.start-page-left h1 {
  margin: 0;
}

.start-page-left p {
  margin: 0.5rem 0;
}

.start-page-left {
  flex-direction: column;
  display: flex;
  justify-content: center;
  position: relative;
  width: 50%;
}

.start-page-left ul {
  animation: slideIn 1s ease-in-out;
}

.start-page-left-mobile ul {
  animation: unset;
}

@keyframes slideIn {
  0% {
    position: absolute;
    left: -35rem;
    opacity: 0%;
  }
  100% {
    position: absolute;
    left: 0;
    opacity: 100%;
  }
}

.team {
  height: 100%;
  display: flex;

  animation: intro 1.2s ease-in-out;
}

.team-mobile {
  height: 100%;
  display: flex;
}

@keyframes intro {
  0% {
    position: absolute;
    top: -1rem;
    opacity: 0%;
  }

  90% {
    position: absolute;
    top: 0rem;
  }

  100% {
    position: absolute;
    top: 0rem;
    opacity: 100%;
  }
}

.start-page-right {
  position: relative;
  width: 50%;

  height: 100%;
  display: flex;
}

h1 {
  font-size: 5rem;
  margin-top: 2rem;
}
p {
  font-size: 1.7rem;
  margin: 2rem;
}

button {
  background-color: #ecad2b;
  border: none;
  width: 12rem;
  height: 3rem;
  border-radius: 20px;
  font-size: 1.4rem;
  color: white;
}

@media (max-width: 800px) {
  .startPageContainer-mobile {
    justify-content: center;
    padding: 0;
    flex-direction: column;
  }

  .start-page-left-mobile p {
    font-size: 1.2rem;
    margin: 2rem;
  }

  .start-page-left-mobile {
    width: 100%;
    text-align: center;
  }
  .start-page-left-mobile h1 {
    margin: 3rem;
  }
}
